//Font;
$font-size-base: 16;
// Breakpoint
$xl-width: 1920px;
$xlg-width: 1440px;
$lg-width: 1200px;
$md-width: 1024px;
$sm-width: 768px;
$xs-width: 576px;
// Color
$menu-bg: #3f3f3f;
$menu-color: White;
$menu-bg-active: #91c200;
$jackpot-color: White;
$jackpot-bg: black;
